@{
    ViewData["Title"] = "Admin";
}

<h1>Welcome Admin</h1>

<div class="row my-5">
    <div class="col d-grid">
        <button type="button" class="btn bg-dark rounded-pill px-4"><a class="fs-5 text-white text-decoration-none" asp-page="/Products/Index"> Product </a></button>
    </div>
    <div class="col d-grid justify-content-end">
        <button type="button" class="btn bg-dark rounded-pill px-4"><a class="fs-5 text-white text-decoration-none" asp-page="/Suppliers/Index"> Supplier </a></button>
    </div>
</div>